<ion-header>
  <ion-toolbar>
    <ion-title>Pokedéx</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>

    <ion-card-header>
      <ion-card-title>
        Pesquisar Pokémon
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
     <ion-list>
      <ion-item (click)="teste()">
        <ion-label>Pikachu</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
      <ion-item (click)="teste()">
        <ion-label>Pikachu</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
      <ion-item (click)="teste()">
        <ion-label>Pikachu</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
     </ion-list>
    </ion-card-content>

    <ion-button fill="clear">Buscar</ion-button>
  </ion-card>
  
</ion-content>