<ion-header>
  <ion-toolbar>
      <ion-title>Cálculo de Média</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <h1>Simulação</h1>
  <ion-list>
      <ion-item>
          <ion-input type="text" label="Nome" labelPlacement="floating" [(ngModel)]="nome"/>
      </ion-item>
      <ion-item>
          <ion-input type="text" label="Sobrenome" labelPlacement="floating" [(ngModel)]="sobrenome"/>
      </ion-item>
      <ion-item>
          <ion-input type="text" label="Nome completo" labelPlacement="floating" [value]="nomeCompleto" readonly/>
      </ion-item>
  </ion-list>

  <ion-button (click)="concatenarNomes()">
      Concatenar
  </ion-button>

</ion-content>